.app {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  border-bottom: 1px solid;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.title {
  justify-content: center;
  width: 100%;
  display: flex;
}
.inputsearch {
  width: 25rem;
  margin: 1rem;
  height: 2rem;
}
.container, .main {
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 88vh;
}

.sidebar, .middle {
  position: relative;
  width: 25%;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.maincontent, .right {
  width: 75%;
  border-bottom: 1px solid;
}
.middle {
  width: 35%;
}
.right {
  width: 65%;
}
.addfolder {
  position: absolute;
  bottom: 5px;
  width: 100%;
  justify-content: center;
  display: flex;
}
.addfolder button {
  background: gray;
  border: 1px solid gray;
  color: white;
  padding: 5px 15px;
}
.sidebarnote {
  padding: 0.25rem;
  margin: 0.5rem 0;
}
.sidebarnote.active {
  background: silver;
}
.mainnote-edit {
  padding: 25px;
}
.sidebar-head {
  text-align: center;
}
.mainnote-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
.mainnote-edit input {
  height: 50px;
  font-size: 2rem;
}
.mainnote-edit{
  height: 50vh;
}
.noact-note {
  width: 70%;
  height: 75vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
}